.user-menu {
  padding: 5px !important;
}

.user-name {
  padding-left: 10px !important;
  font-size: 18px;
  font-weight: 700;
}

.user-loader {
  padding: 0px;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.log-in-container {
  align-self: center !important;
}