html {
  position: relative;
  min-height: 100%;
}

.message-list-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
}
.message-list-header {
  /* padding: 0px 20px 0px 20px !important; */
}
.message-list {
  height: 100%;
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.message-list .list {
  width: 100%;
}
.message-send {
  width: 100%;
}

.room-settings {
  align-self: center !important;
}

.message-content {
  font-size: 15px;
  word-wrap: break-word;
}
.message-user {
  font-weight: 700;
  font-size: 16px;
}
.message-time {
  color: rgba(0, 0, 0, 0.553);  
  font-size: 13px;
}

.message-row, .message-list h2 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.message-row:first-child {
  padding-top: .42857143em !important;
}
.message-row:last-child {
  padding-bottom: .42857143em !important;
}
.message-row:nth-child(even) {
  background-color: #F6F7FB;
}
.message-row:nth-child(odd) {
  
}

.message-send {
  padding: 5px;
}
.message-send .input {
  width: 100%;
}
