html, body, .fill-height {
  height: 100%;
}

.ui.padded.grid > .column {
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Open Sans', sans-serif !important; */
}

.fill-height .panel {
  display: flex !important;
  flex-direction: column;
}